<div class="container">
  <div class="wrapper">
    <span>
      <p>
        <span>
          Ad Soyad
          <h2>{{ studentDetail.firstName + " " + studentDetail.lastName }}</h2>
        </span>
        <span>
          Numarası
          <h2>{{ studentDetail.no }}</h2>
        </span>
        <span>
          Email
          <h2>
            {{ studentDetail.email }}
          </h2>
        </span>
        <span>
          Data Kaynağı
          <h2>
            {{ studentDetail.dataSource }}
          </h2>
        </span>
        <span>
          İlgilendiği Eğitim
          <h2>
            {{ studentDetail.interestedEducation }}
          </h2>
        </span>
        <span>
          Kayıt Oldu mu?
          <h2>
            {{ studentDetail.isReg }}
          </h2>
        </span>
        <span>
          Yorum
          <h2>
            {{ studentDetail.report }}
          </h2>
        </span>
      </p>
    </span>
  </div>
</div>
