@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

:root {
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --success-color: #e100ff;
  --info-color: #17a2b8;
  --warning-color: #fff93d;
  --danger-color: #dc3545;
}
.primary {
  color: var(--primary-color);
}

.secondary {
  color: var(--secondary-color);
}

.success {
  color: var(--success-color);
}

.info {
  color: var(--info-color);
}

.warning {
  color: var(--warning-color);
}

.danger {
  color: var(--danger-color);
}

.yes {
  height: 30px;
  width: 30px;
  border-radius: 100%;
}
.no {
  height: 30px;
  width: 30px;
  border-radius: 100%;
}
.later {
  height: 30px;
  width: 30px;
  border-radius: 100%;
}
.else {
  height: 30px;
  width: 30px;
  border-radius: 100%;
}

body {
  /* solid background */
  background: rgb(0, 212, 255);

  /* gradient background*/
  background: linear-gradient(
    45deg,
    rgba(0, 212, 255, 1) 0%,
    rgba(11, 3, 45, 1) 100%
  );

  background-size: cover;
  background-position: center;

  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  background-color: rgb(255, 255, 255);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 18rem;
}

.reg {
  background-color: #ec173a;
  border-radius: 100px;
  width: 30px;
  height: 30px;
}

.wrapper {
  width: 50%;
}

.banner-image {
  background-image: url(https://images.unsplash.com/photo-1641326201918-3cafc641038e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1887&q=80);
  background-position: center;
  background-size: cover;
  height: 10px;
  width: 100%;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.255);
}

h2 {
  font-family: "Righteous", sans-serif;
  color: rgba(119, 119, 119, 0.98);
  text-transform: uppercase;
  font-size: 1rem;
}

p {
  color: #c7c7c7;
  font-family: "Lato", sans-serif;
  text-align: center;
  font-size: 0.8rem;
  line-height: 150%;
  letter-spacing: 2px;
  text-transform: uppercase;
}

/* .button-wrapper {
  margin-top: 18px;
} */

.btn {
  border: none;
  padding: 12px 24px;
  border-radius: 24px;
  font-size: 12px;
  font-size: 0.8rem;
  letter-spacing: 2px;
  cursor: pointer;
}

.btn + .btn {
  margin-left: 10px;
}

.outline {
  background: transparent;
  color: rgba(0, 212, 255, 0.9);
  border: 1px solid rgba(0, 212, 255, 0.6);
  transition: all 0.3s ease;
}

.outline:hover {
  transform: scale(1.125);
  color: rgb(0, 0, 0);
  border-color: rgba(0, 0, 0, 0.9);
  transition: all 0.3s ease;
}

.fill {
  background: rgba(0, 212, 255, 0.9);
  color: rgba(255, 255, 255, 0.95);
  filter: drop-shadow(0);
  font-weight: bold;
  transition: all 0.3s ease;
}

.fill:hover {
  transform: scale(1.125);
  border-color: rgba(255, 255, 255, 0.9);
  filter: drop-shadow(0 10px 5px rgba(0, 0, 0, 0.125));
  transition: all 0.3s ease;
}
